

<div id="<%= dom_id cart %>" class="p-4 rounded-md shadow-md bg-white w-80">
  <h2 class="font-bold text-lg mb-4">Your Cart</h2>

  <table class="cart-table w-full table-auto">
    <tbody>
      <% cart.line_items.each do |line_item| %>
        <tr class="align-top">
          <td class="text-right w-6"><%= line_item.quantity %></td>
          <td class="w-2">&times;</td>
          <td class="pr-2 text-left"><%= line_item.product.title %></td>
          <td class="text-right font-semibold whitespace-nowrap">
            <%= number_to_currency(line_item.total_price) %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th class="text-right pr-2 pt-3 font-semibold" colspan="3">Total:</th>
        <td class="text-right pt-3 font-bold border-t-2 border-black whitespace-nowrap">
          <%= number_to_currency(cart.total_price) %>
        </td>
      </tr>
    </tfoot>
  </table>

  <%= button_to 'Empty Cart', cart, method: :delete,
      class: 'mt-4 rounded-md py-1 px-3 text-white bg-green-600 hover:bg-green-700 font-medium' %>
</div>
